@import url(http://fonts.googleapis.com/css?family=Eagle+Lake);

article h1, article h2, article h3, article h4, article h5, article h6 {font-family: 'Eagle Lake', cursive; line-height: 1.7em;}

figure {margin: 1em; padding: 1em; text-align: center;}
figure img {padding: 8px;   -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            border: 1px solid #aaa;
            -moz-box-shadow: 0 0 6px #999; /* firefox 3.5+ */
            -webkit-box-shadow: 0 0 6px #999; /* webkit */
            box-shadow: 0 0 6px #999; width: 100%; max-width: 500px}
figcaption {text-align: center; font-size: 120%; margin-top: 1em;}

blockquote {font-weight: bold; font-style: italic; color: orangered; border-left: 10px solid #ddd; padding-left: 1em;}

@media only screen and (max-width: 700px) {
body {margin: 12px; font-size: 100%;}
h1,h2,h3,h4,h5,h6{font-family: sans-serif;}
figure {margin: 1em; padding: 1em; text-align: center;}
figure img {padding: 8px;   -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
            border: 0px solid #aaa;
            -moz-box-shadow: 0;
            -webkit-box-shadow: 0;
            box-shadow: none; width: 100%;}
figcaption {text-align: center; font-size: 120%; margin-top: 1em;}

td {font-size: 80%;}


}


@media print{

  body, h1,h2,h3,h4,h5,h6{    font-family: serif;}
  
  h1, h2, h3, h4, h5, h6, figcaption, img {
    font-weight: bold;
    line-height: 125%;
    page-break-inside: avoid;
    page-break-after: avoid;
  }

  a:link:after, a:visited:after{   content: " [" attr(href) "] ";}

  img {max-height: 200px; margin: 10px;}

  hr {page-break-before: always; display: none !important;}
  
}
